:root{
    --primary-color: #ff9f1c;
    --secondary-color: #ffbf69; 
    --Accent1-color: #ffffff;
    --Accent2-color: #cbf3f0;

    --heading-font: Open Sans;
    --text-font: Italic;

    --headline-color-on-white: #ff9f1c;
    --headline-color-on-color: #cbf3f0;
    --text-font-color-on-white: #ffffff;
    --text-font-color-on-color:#cbf3f0;
    --text-background-color: #ff9f1c;
    --nav-link-color: #ff9f1c;
    --nav-background-color: #ffffff;
    --nav-hover-color: white;
    --nav-hover-background-color: #ffbf69;
}

body{
    font-family: "Open Sans", serif;
    font-weight: 400;  
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;  
}

h1{
    font-weight: 100;

}

img{
    display: block;
    margin: 0 auto;
    max-width: 300px;
}
 h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
 }
 h2{
    text-align: center;
 }
 hr{
    height: 3px;
    margin: 35px 0;
    background: var(--Accent1-color);
 }
 header{
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color:var(--text-background-color) ;
 }
 header > h1, header> h2{
    color: var(--headline-color-on-color)
 }
 p{
    font-family: var(--text-font);
    color: var(--text-font-color-on-white);
    padding: 1em;
 }
 .colors{
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
 }
 .colors th {
    background-color: #999;
 }
 .colors td{
    width: 25%;
    height: 3em;
 }
 .primary{
    background-color: var(--primary-color);
 }
 .secondary{
    background-color: var(--secondary-color);
 }
 .accent1{
    background-color: var(--Accent1-color);
 }
 .accent2{
    background-color: var(--Accent2-color);
 }
 p.colored{
    background-color: var(--text-background-color);
    color: var(--text-font-color-on-color);
 }
 nav{
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
 }
 nav{
    list-style-type: none;
    display: flex;
 }