:root{
    --primary-color: #ff9f1c;
    --secondary-color: #ffbf69; 
    --Accent1-color: #ffffff;
    --Accent2-color: #cbf3f0;

    --heading-font: Open Sans;
    --text-font: Italic;

    --headline-color-on-white: #ff9f1c;
    --headline-color-on-color: #cbf3f0;
    --text-font-color-on-white: #ffffff;
    --text-font-color-on-color:#cbf3f0;
    --text-background-color: #ff9f1c;
    --nav-link-color: #ff9f1c;
    --nav-background-color: #ffffff;
    --nav-hover-color: white;
    --nav-hover-background-color: #ffbf69;
}

* {
   max-width: 800px;
   margin: auto;
}

meta {
  display: none;
}

body {
    display: block;
}

header{
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 350px 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid #cbf3f0;
  max-width: 1000px;
}

img{
  overflow-clip-margin: content-box;
  overflow: clip;
}

h3{
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

nav{
  unicode-bidi: isolate;
}

header nav a{
  display: block;
  color: var(--nav-background-color);
  padding: 20px;
  max-width: 0;
  text-decoration: none;
  border: 1px solid var(--nav-link-color);
}

.contactgeneral{
  padding: 10px;
}

.contactmike{
  color: var(--primary-color);
  padding: 20px;
  font-size: 80px;
  text-align: center;
  margin-top: -40px;
}

h1{
  font-family: Open Sans;
}

h2{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

a:-webkit-any-link{
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.map{
  margin: 10px;
  margin-bottom: 5px;
  border: 0;
}
iframe{
  width: 600px;
  height: 450px;
  overflow-clip-margin:content-box !important;
  overflow: clip !important;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

form{
  width: 650px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #cbf3f0;
  border-radius: 0.5rem;
  background-color: #ffffff;
  display: grid;
}



